<span><h1 style="text-align: right">About Michael</h1><hr></span>

<p><img src="/img/MeLinkedin.png" class="clip-circle box-shad alignright" style="float: left; margin-right: 10px;" alt="Photo of Michael" />
  Michael Arnel is a Senior Software Architect currently working for CorasWorks Corporation in Reston, Virginia as
  their Development Team Manager.  He's been developing software for 15 years professionally and specializes in the
  .Net Platform utilizing technologies like C#, MVC, WCF and Microsoft SharePoint.  Michael is passionate about all technology
  and has recently taken an interest in architecting solutions on the JavaScript stack using Node.js and front-end MVVM
  tools such as Angular.js
</p><br />

<p>
  When Michael is not focused on work he enjoys spending time with his Wife and two sons.  Living in the suburbs in
  Maryland they enjoy hobbies like kayaking, mountain biking, fishing and the occasional round of golf.  Michael's second
  passion is brewing homebrew beer, and would one day enjoy running a brew pub in the future where he can share his brews
  with a much wider audience.
</p><br />

<p>
  Michael is currently employed but is available for part-time contract work or side jobs.  If interested, please
  contact me via my <a ui-sref="contact">contact page</a>. ~Michael
</p><br />
