<section id="contact">
    <div class="row clearfix">
        <div class="col-md-8 column ui-sortable">

            <!-- Begin Inquiry Form -->

            <div class="well">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>Submit Inquiry</legend>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Email" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; cursor: auto; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputContactNumber" class="col-lg-2 control-label">Tel. No</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputContactNumber" placeholder="Contact Number" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; cursor: auto; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputContactName" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputContactName" placeholder="First and Last Name" style="background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAASCAYAAABSO15qAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QsPDhss3LcOZQAAAU5JREFUOMvdkzFLA0EQhd/bO7iIYmklaCUopLAQA6KNaawt9BeIgnUwLHPJRchfEBR7CyGWgiDY2SlIQBT/gDaCoGDudiy8SLwkBiwz1c7y+GZ25i0wnFEqlSZFZKGdi8iiiOR7aU32QkR2c7ncPcljAARAkgckb8IwrGf1fg/oJ8lRAHkR2VDVmOQ8AKjqY1bMHgCGYXhFchnAg6omJGcBXEZRtNoXYK2dMsaMt1qtD9/3p40x5yS9tHICYF1Vn0mOxXH8Uq/Xb389wff9PQDbQRB0t/QNOiPZ1h4B2MoO0fxnYz8dOOcOVbWhqq8kJzzPa3RAXZIkawCenHMjJN/+GiIqlcoFgKKq3pEMAMwAuCa5VK1W3SAfbAIopum+cy5KzwXn3M5AI6XVYlVt1mq1U8/zTlS1CeC9j2+6o1wuz1lrVzpWXLDWTg3pz/0CQnd2Jos49xUAAAAASUVORK5CYII=); background-attachment: scroll; cursor: auto; background-position: 100% 50%; background-repeat: no-repeat no-repeat;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-lg-2 control-label">Message</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="message"></textarea>
                                <span class="help-block">Please provide some basic information to help me understand the nature of this request.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <!-- End Inquiry Form -->
        <!-- Begin Contact Panel -->

        <div class="col-md-4 column ui-sortable">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Contact Details:</h3>
                </div>
                <div class="panel-body">
                    <p class="text-success">Michael Arnel</p>
                    <p class="text-success">Hagerstown, MD 21740</p>
                    <p class="text-muted"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<a href="mailto:mike@michaelarnel.com">mike@michaelarnel.com</a></p>
                    <p class="text-muted"><i class="fa fa-envelope-o"></i>&nbsp;&nbsp;<a href="mailto:michael.arnel@gmail.com">michael.arnel@gmail.com</a></p>
                </div>
            </div>
        </div>

        <br />
        <div class="col-md-4 column ui-sortable">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Social:</h3>
                </div>
                <div class="panel-body">
                    <!--<p class="text-muted"><i class="fa fa-facebook-square"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/michael.arnel">Facebook</a></p>-->
                    <p class="text-muted"><i class="fa fa-google-plus"></i>&nbsp;&nbsp;<a href="https://plus.google.com/+MichaelArnel">G+</a></p>
                    <p class="text-muted"><i class="fa fa-twitter"></i>&nbsp;&nbsp;<a href="https://twitter.com/MichaelArnel">Twitter</a></p>
                    <p class="text-muted"><i class="fa fa-linkedin-square"></i>&nbsp;&nbsp;<a href="https://www.linkedin.com/pub/michael-arnel/5a/b9/812">LinkedIn</a></p>
                    <p class="text-muted"><i class="fa fa-github-square"></i>&nbsp;&nbsp;<a href="https://github.com/marnel">GitHub</a></p>
                </div>
            </div>
        </div>

        <!-- End Contact Panel -->
    </div>
</section>